body{
    background-color: rgb(255, 217, 0);
}

.contenedor{
    background-color: rgb(243, 202, 17);
    border-radius: 10cqmax;
    text-align: center;
}
.title{
  border-bottom: 10px;
  font-family: Verdana, Tahoma, sans-serif;
}

.logo{
  width: 115px;
  height: 110px;
}
