body{
    background-color: rgb(255, 217, 0);
}

.contenedor{
    background-color: rgb(243, 202, 17);
    border-radius: 10cqmax;
    text-align: center;
}
.title{
   
  font-family: Verdana, Tahoma, sans-serif;
}