body {
  background-color: rgb(255, 217, 0);
}

.head {
  text-align: center;
  background-color: aliceblue;
  text
}

.foot {
  background-color: rgb(32, 32, 28);
}

.contenedor {
  background-color: rgb(243, 202, 17);
  text-align: center;
}

.title {
  border-bottom: 10px;
  font-family: Verdana, Tahoma, sans-serif;
}

.logo {
  width: 115px;
  height: 110px;
}